<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.relateddigital.androidexampleapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidexampleapp">
        <activity
            android:name=".InAppNotificationActivity"
            android:label="@string/in_app_notification_page_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoryDemoActivity"
            android:label="@string/story_page_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_page_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PushNotificationActivity"
            android:label="@string/push_notification_page_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/main_page_label"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.relateddigital.relateddigital_android.geofence.GeofenceTransitionsIntentService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.relateddigital.relateddigital_android.geofence.GeofenceAlarm"
            android:exported="false" />

        <receiver
            android:name="com.relateddigital.relateddigital_android.geofence.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name="euromsg.com.euromobileandroid.service.EuroFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="euromsg.com.euromobileandroid.service.EuroHuaweiMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>