<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.relateddigital.androidexampleapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CANCEL_NOTIFICATIONS" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidexampleapp">
        <activity
            android:name=".WebViewTryActivity"
            android:exported="false" />
        <activity
            android:name=".SwipeCarouselActivity"
            android:exported="false" />
        <activity
            android:name=".InlineNpsWithNumbersActivity"
            android:exported="false" />
        <activity
            android:name=".InAppNotificationActivity"
            android:label="@string/in_app_notification_page_label"
             />
        <activity
            android:name=".StoryDemoActivity"
            android:label="@string/story_page_label"
             />
        <activity
            android:name=".BannerCarouselDemoActivity"
            android:label="@string/banner_carousel"
             />
        <activity
            android:name=".EventActivity"
            android:label="@string/event_page_label"
            />
        <activity
            android:name=".PushNotificationActivity"
            android:label="@string/push_notification_page_label"
             />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/main_page_label"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".DeeplinkReceiver"
            android:exported="true"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="InAppLink" />
            </intent-filter>
        </receiver>
    </application>

</manifest>