<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.relateddigital.relateddigital_android">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.CANCEL_NOTIFICATIONS" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        tools:targetApi="n">
        <activity
            android:name=".inapp.story.StoryActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".inapp.shaketowin.ShakeToWinActivity"
            android:configChanges="orientation"
            android:noHistory="true"
            />
        <activity
            android:name=".inapp.scratchtowin.ScratchToWinActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".inapp.spintowin.SpinToWinActivity"
            android:configChanges="orientation"
            android:noHistory="true"
             />
        <activity
            android:name=".inapp.survey.SurveyActivity"
            android:configChanges="orientation"
            android:noHistory="true"
            />
        <activity
            android:name=".inapp.giftcatch.GiftCatchActivity"
            android:configChanges="orientation"
            android:noHistory="true"
             />
        <activity
            android:name=".inapp.findtowin.FindToWinActivity"
            android:configChanges="orientation"
            android:noHistory="true"
             />
        <activity
            android:name=".inapp.giftbox.GiftBoxActivity"
            android:configChanges="orientation"
            android:noHistory="true"
             />
        <activity
            android:name=".inapp.clawmachine.ClawMachineActivity"
            android:configChanges="orientation"
            android:noHistory="true"
             />
        <activity
            android:name=".inapp.slotmachine.SlotMachineActivity"
            android:configChanges="orientation"
            android:noHistory="true"
             />
        <activity
            android:name=".inapp.choosefavorite.ChooseFavoriteActivity"
            android:configChanges="orientation"
            android:noHistory="true"
             />
        <activity
            android:name=".inapp.inappmessages.InAppFullActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".inapp.inappmessages.InAppNotificationActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.AlertRounded" />
        <activity
            android:name=".inapp.mailsubsform.MailSubscriptionFormActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".util.PermissionActivity"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name=".util.NotificationPermissionActivity"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent" />

        <service
            android:name=".push.services.RelatedDigitalFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".push.services.RelatedDigitalHuaweiMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.relateddigital.relateddigital_android.geofence.GeofenceTransitionsIntentService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.relateddigital.relateddigital_android.geofence.GeofenceAlarm"
            android:exported="false" />
        <receiver
            android:name="com.relateddigital.relateddigital_android.geofence.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".push.carousel.CarouselEventReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>