<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.relateddigital.relateddigital_android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true">
        <activity
            android:name=".inapp.ScratchToWinActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity
            android:name=".inapp.SpinToWinActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity
            android:name=".inapp.InAppFullActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".inapp.InAppNotificationActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".inapp.MailSubscriptionFormActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:windowSoftInputMode="adjustResize"
            android:noHistory="true"/>
    </application>

</manifest>